.wd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: large;
}

.wd-tuits {
    list-style: none;
    padding: 0;
}

.wd-tuit {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

.wd-tuit-content {
    flex-grow: 1;
}

.wd-profile-pic {
    border-radius: 0%;
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

.wd-tuit-header {
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
}

.wd-username {
    font-weight: bold;
    margin-right: 5px;
}

.wd-handle,
.wd-timestamp {
    color: #657786;
}

.wd-handle {
    margin-right: 5px;
}

.wd-tuit-text,
.wd-pic-caption {
    margin: 5px 0;
}

.wd-tuit-pic {
    max-width: 100%;
    height: auto;
}

.wd-tuit-actions {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    color: #657786;
}